@use '@scssVariables' as v;

.admin {
	&__navbar {
		background-color: black;
		display: flex;
		flex-direction: row;
		justify-content:space-around;
		align-items: center;
		padding: 2rem;
	}
	&__navbarLinks {
		display: flex;
		gap: 2rem;
	}
	&__link {
		color: aliceblue;
	}

	&__actions {
		margin-top: 2rem;
		margin-left: 2rem;
		display: flex;
		justify-content: start;
		gap: 1rem;
	}
	&__actionBtn {
		background-color: black;
		color: aliceblue;
		cursor: pointer;
		padding: 1rem;
	}

	&__onglet {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		padding: 1rem;
	}

	&__title {
		font-size: 2rem;
		margin: 2rem 0 2rem 2rem;
	}

	&__inventaireList {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}