.div__edit {
    margin-bottom: 2rem;
}

.produitForEdit{
    
    &__imgContainer {
        width: 18rem;
        height: 18rem;
        overflow: hidden;
        margin-bottom: 1rem;
        transition: all 0.2s;
    }
    &__imgContainer:hover {
        transform:scale(1.1);
    }
    &__photo {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &__title {
        font-family: 'Figtree';
    }
}


@media screen and (max-width:769px) {

    .produitForEdit {
        
        &__imgContainer {
            width: 16rem;
            height: 16rem;
            margin-bottom: 0.5rem;
            transition: all 0.2s;
        }
        &__imgContainer:hover {
            transform:scale(1.1);
        }
        &__photo {
            width: 100%;
            height: 100%;
        }
        &__name {
            font-size: 0.8rem;
        }
    }
}



// TABLETTES
@media screen and (min-width:767px) and (max-width:900px) {
    .produitForEdit {
        
        &__imgContainer {
            width: 20rem;
            height: 20rem;
            margin-bottom: 0.5rem;
            transition: all 0.2s;
        }
        &__imgContainer:hover {
            transform:scale(1.2);
        }
        &__photo {
            width: 100%;
            height: 100%;
        }
        &__name {
            font-size: 1rem;
        }
    }
}