@use '@scssVariables' as v;

.footer {
    margin-top: 2rem;
    width: 100%;
    padding: 3rem 15rem;
    background-color: v.$grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__logo {
        width: 15rem;
    }
    &__titleSection {
        margin-bottom: 1rem;
        font-weight: 700;
    }
}