// PC PORTABLE :
.produitForPanier {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid black;
  margin: 0 auto;
  margin-bottom: 1rem;
  justify-content: space-between;

  &__imgContainer {
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
  }
  &__prix {
    text-align: right;
  }
  &__select {
    border: none;
  }
  &__supp {
    cursor: pointer;
    text-align: right;
    font-size: 0.8rem;
    color: gray;
  }
  &__supp:hover {
    color: #1e1e1e;
    text-shadow: 1px 10px 3px rgba(0, 0, 0, 0.5);
  }
}

// MOBILES
@media screen and (max-width: 769px) {
  .produitForPanier {
    gap: 0.5rem;
    border-bottom: 1px solid black;
    margin: 0 auto;
    margin-bottom: 1rem;
    justify-content: space-around;

    &__imgContainer {
      width: 4rem;
      height: 4rem;
      overflow: hidden;
      margin-bottom: 1rem;
    }
    &__name {
      font-size: 0.7rem;
    }
    &__prix {
      font-size: 0.7rem;
      margin-left: 1rem;
    }
    &__select {
      font-size: 0.7rem;
    }
    &__supp {
      font-size: 0.6rem;
      color: gray;
    }
  }
}

// TABLETTES
@media screen and (min-width: 767px) and (max-width: 900px) {
  .produitForPanier {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid black;
    margin: 0 auto;
    margin-bottom: 1rem;
    justify-content: center;

    &__imgContainer {
      width: 6rem;
      height: 6rem;
      overflow: hidden;
      margin-bottom: 1rem;
    }
    &__name {
      font-size: 1rem;
    }
    &__prix {
      margin-left: 10rem;
    }
    &__supp {
      font-size: 0.8rem;
      color: gray;
    }
  }
}
