@use '@scssVariables' as v;

.bigLien {
    width: 100%;

    &__vet {
        width: 100%;
        background-color: aqua;
        display: flex;
        flex-direction: row;
        // align-items: center;
    }

    &__vetement1 {
        background-color: v.$dark-blue;
        padding: 2rem 0rem;
        padding-left: 25rem;
        padding-right: 8rem;
        font-size: 3rem;
        color: v.$grey;
        text-transform: uppercase;
        font-weight: 800;
        line-height: 3rem;
        letter-spacing: 0.8rem;
        text-align: center;
        transition: 0.5s ease-in-out;
    }
    &__vetement1:hover {
        background-color: v.$hoverBlue;
        color: #072A3D;
        transition: 0.3s ease-in-out;
    }

    &__vetement2 {
        width: 100%;
        background-color: v.$grey;
        padding: 2rem 0rem;
        padding-right: 15rem;
        text-align: center;
        font-size: 3rem;
        letter-spacing: 0.8rem;
        color: v.$dark-blue;
        text-transform: uppercase;
        font-weight: 800;
        line-height: 3rem;
        transition: 0.5s ease-in-out;
    }
    &__vetement2:hover {
        background-color: v.$hoverBlue;
        color: v.$grey;
        transition: 0.3s ease-in-out;
    }

    &__text {
        padding: 4rem 15rem;
        text-align: justify;
        letter-spacing: 0.3rem;
    }
}
.photoShooting {
    padding: 0 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 4rem;

    &__shot{
        width: auto;
        height: 20rem;
        filter: grayscale(100%);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }
    &__shot:hover {
        filter: grayscale(0);
        transform:scale(1.4);
        z-index: 2;
    }
}