@use '@scssVariables' as v;

.collectionAdmin {
  padding: 1rem;
  width: 100%;
  border: 1px black solid;

  &__card {
    display: flex;
    flex-direction: row;
  }
  &__cardInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__imgContainer {
    width: 5rem;
  }

  &__cardTitle {
    font-size: 1.2rem;
  }

  &__cardBtn {
    display: flex;
    justify-content: end;
    gap: 1rem;
  }
  &__btn {
    cursor: pointer;
  }
  &__btn:hover {
    color: red;
  }
}
